section.contact .contact-me::after{
    content:"";
    display: block;
    clear:both;
}

section.contact .contact-me .left{
    width : 30%;
    float : left;
}

section.contact .contact-me .right{
    width : 65%;
    margin-left : 5%;
    float : left;
}

section.contact .contact-me .left .card{
    border:1px solid #ccc;
    padding : 1rem;
    display : flex;
    align-items : center;
    margin-bottom:1.25rem;
}

section.contact .contact-me .left .card .icon i{
    font-size:2rem;
    margin-right:15px;
}

section.contact .contact-me .right{
    float:left;
    width:65%;
    margin-left : 5%;
    margin-bottom : 2rem;
    border:1px solid #ccc;
    padding:1rem;
}

section.contact .contact-me .right .form-group{
    margin-bottom:1.25rem;
}

/* label(인라인성격)태그에 외부 여백을 적용하기 위해 block으로 변경 */
section.contact .contact-me .right .form-group label{
    display:block;
    margin-bottom:0.85rem;
}

section.contact .contact-me .right .form-group input{
    padding:0.625rem;
    width:100%;
    outline:none;
    border:1px solid #ccc;
    border-radius : 10px;
}

/* input에 커서가 활성화되면 파란 테두리와 그림자 효과 추가 */
section.contact .contact-me .right .form-group input:focus{
    border:1px solid #719ECE;
    box-shadow:0 0 10px #719ECE;
}

section.contact .contact-me .right .form-group textarea{
    height:300px;
    width:100%;
    resize:none;
    border:1px solid #ccc;
    border-radius: 10px;
}

section.contact .contact-me .right .form-group textarea:focus{
    outline:none;
    border:1px solid #719ECE;
    box-shadow:0 0 10px #719ECE;
}

section.contact .contact-me .right button{
    width:100%;
    padding:1rem;
    background-color:#f78b00;
    border:none;
    color:white;
}
.input {
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
}

.input:focus {
    outline-offset: 5px;
    background-color: #fff
}
.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

#preview {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    object-fit: cover;
}
.date-selector {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

input[type="date"] {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
input[type="file"] {
    display: none;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    margin-top:10px;
}
.container{
    width:100%;
}
.modal-btn-box{
    width:100%;
    text-align:center;
}
.modal-btn-box button{
    display:inline-block;
    width:150px;
    height:50px;
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    cursor:pointer;
    padding-top:8px;
}
.popup-wrap{
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
}
.popup{
    width:100%;
    max-width:400px;
    background-color:#ffffff;
    border-radius:10px;
    overflow:hidden;
    background-color:#264db5;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}
.popup-head{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.head-title {
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -3px;
    text-align: center;
}
.popup-body{
    width:100%;
    background-color:#ffffff;
}
.body-content{
    width:100%;
    padding:30px;
}
.body-titlebox{
    text-align:center;
    width:100%;
    height:40px;
    margin-bottom:10px;
}
.body-contentbox{
    word-break:break-word;
    overflow-y:auto;
    min-height:100px;
    max-height:200px;
}
.popup-foot{
    width:100%;
    height:50px;
}
.pop-btn{
    display:inline-flex;
    width:50%;
    height:100%;
    float:left;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    cursor:pointer;
}
.pop-btn.confirm{
    border-right:1px solid #3b5fbf;
}
