<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminfaq">
    <select id="getFaqList" resultType="faqVo">
        SELECT 
		    F.NO
		    , F.TITLE
		    , F.CONTENT
		    , F.ENROLL_DATE
		    , F.DEL_YN
		    , C.NAME AS CATEGORY_NAME
		    , A.NAME AS WRITER_NAME
		FROM FAQ F
		JOIN ADMIN A ON F.WRITER_NO = A.NO
		JOIN FAQ_CATEGORY C ON F.CATEGORY_NO = C.NO
		WHERE F.DEL_YN = 'N'
		ORDER BY F.NO DESC
        
    </select>
    
    <insert id="faqwrite">
        INSERT INTO FAQ
			(
			    NO
			    , TITLE
			    , CONTENT
			    , WRITER_NO
			    , CATEGORY_NO
			    , ENROLL_DATE
			)
			VALUES
			(
			    SEQ_FAQ_NO.NEXTVAL
			    , #{title}
			    , #{content}
			    , #{writerNo}
			    , #{categoryNo}
			    , SYSDATE
			)
    </insert>
    
   
    <select id="getFaq" resultType="FaqVo">
        SELECT 
		    F.NO,
		    F.TITLE,
		    F.CONTENT,
		    F.ENROLL_DATE,
		    F.DEL_YN,
		    C.NAME AS CATEGORY_NAME,
		    A.NAME AS WRITER_NAME,
		    F.WRITER_NO
		FROM FAQ F
		JOIN ADMIN A ON F.WRITER_NO = A.NO
		JOIN FAQ_CATEGORY C ON F.CATEGORY_NO = C.NO
		WHERE F.NO = #{num}
    </select>
    
    <update id="faqedit" parameterType="FaqVo">
	  UPDATE FAQ
			SET
				TITLE = COALESCE(#{title} , TITLE)
				, CONTENT = COALESCE(#{content} , content)
				, MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
	</update>

    <delete id="faqdelete">
        UPDATE FAQ
        	SET
	            MODIFY_DATE = SYSDATE
	            , DEL_YN = 'Y'
        WHERE NO = #{num}
    </delete>
    
    <select id="getCnt" resultType="int">
		SELECT COUNT(NO)
		FROM FAQ F
		
		<if test="searchType == 'title'">
			AND F.TITLE LIKE '%${searchValue}%'
		</if>
		<if test="searchType == 'content'">
			AND F.CONTENT LIKE '%${searchValue}%'
		</if>
		<if test="searchType == 'category'">
			AND F.CATEGORY_NO = #{searchValue}
		</if>
	</select>
	
	<select id="getcategoryName" resultType="FaqVo">
	   SELECT NAME
			FROM FAQ_CATEGORY
			WHERE NO = #{categoryNo}

	</select>
	
	
</mapper>
