<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminqnaan">

	<select id="getQnaanList" resultType="qnaanVo">
		SELECT
    qna_an.NO,
    qna_an.CONTENT,
    qna_an.WRITER_NO,
    qna_an.MODIFY_DATE,
    qna_an.ANSWER_YN,
    qna_an.DEL_YN,
    qna_an.ENROLL_DATE,
    qna.TITLE,
    qna.CATEGORY_NO,
    qna.ENROLL_DATE AS QNA_ENROLL_DATE,
    qna.DEL_YN AS QNA_DEL_YN,
    qna.ANSWER_YN AS QNA_ANSWER_YN,
    qna.HIT,
    qna_category.NAME AS CATEGORY_NAME,
    qna_an_category.NAME AS ANCATEGORY_NAME,
    admin.NO AS ADMIN_NO,
    admin.PM_NO,
    admin.ID,
    admin.PWD,
    admin.NAME AS ADMIN_NAME,
    admin.ENROLL_DATE AS ADMIN_ENROLL_DATE,
    admin.QUIT_YN
FROM
    QNA_AN qna_an
    INNER JOIN QNA qna ON qna_an.NO = qna.NO
    INNER JOIN QNA_CATEGORY qna_category ON qna.CATEGORY_NO = qna_category.NO
    LEFT JOIN QNA_ANCATEGORY qna_an_category ON qna_an.NO = qna_an_category.NO
    LEFT JOIN ADMIN ON qna_an.WRITER_NO = admin.NO
    	
	</select>
	
	<insert id="qnaanWrite" parameterType="qnaanVo">
    <![CDATA[
    INSERT INTO QNA_AN (NO, CONTENT, WRITER_NO, MODIFY_DATE, ANSWER_YN, DEL_YN, ENROLL_DATE)
    SELECT
        qna.NO,
        qna.CONTENT,
        qna.WRITER_NO,
        qna.MODIFY_DATE,
        NULL,
        NULL,
        NULL
    FROM
        QNA qna;
    ]]>
	</insert>


	

	<!-- <insert id="QnaanWrite">
	  INSERT INTO QNA_AN
	  (
	    NO
	    , TITLE
	    , CONTENT
	    , WRITER_NO
	    , CATEGORY_NO
	    , ENROLL_DATE
	  )
	  VALUES
	  (
	    SEQ_NOTICE_NO.NEXTVAL
	    , #{title}
	    , #{content}
	    , #{writerNo}
	    , #{categoryNo}
	    , SYSDATE
	  )
	</insert>

 
	<select id="getQnaan" resultType="qnaanVo">
		SELECT 
			QA.NO
			, QA.CONTENT
			, QA.MODIFY_DATE
			, QA.ANSWER_YN
			, QA.ENROLL_DATE
			, QA.DEL_YN
		FROM QNA_AN QA
		JOIN QNA Q ON (QA.WRITER_NO = Q.NO)
		JOIN QNA_ANCATEGORY C ON QA.ANCATEGORY_NO = C.NO
		WHERE QA.DEL_YN = 'N'







		FROM QNA_AN
		WHERE NO = #{num}
	</select>

	<update id="edit">
		UPDATE QNA_AN
			SET
				TITLE = #{title}
				, CONTENT = #{content}
				, MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
		
	</update>

	<update id="delete">
		UPDATE QNA_AN
		    SET 
		    	DEL_YN = 'Y'
		        , MODIFY_DATE = SYSDATE
	    WHERE NO = #{num}
	</update>
	 -->
	<select id="getQnaanListCnt" resultType="int">
		SELECT COUNT(*)
		FROM QNA_AN
		WHERE DEL_YN = 'N'
	</select>
</mapper>
