<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="community">
 	<insert id="seminarReviewWrite">
 		INSERT INTO 
	 		REVIEW
	 		(
	 			NO
	 			,SEMINAR_NO
	 			,MEMBER_NO
	 			,TITLE
	 			,CONTENT
	 			,POINT
	 			,REVIEW_THUMBNAIL
	 		) 
			VALUES
			(
				SEQ_REVIEW_NO.NEXTVAL
				, #{seminarNo}
				, #{memberNo}
				, #{title}
				, #{content}
				, #{point}
				, #{reviewThumbnail}
			)
 	</insert>
 	
 	<insert id="reviewAttach">
 		INSERT INTO
 			REVIEW_ATTACH
 			(
 				NO
 				,REVIEW_NO
 				,ORIGIN_NAME
				,CHANGE_NAME
 			)
 			VALUES
 			(
 				SEQ_REVIEW_ATTACH_NO.NEXTVAL
 				,SEQ_REVIEW_NO.CURRVAL
 				,#{originName}
 				,#{changeName}
 			)
 	</insert>
 	
 	<select id="SeminarReviewGetCnt" resultType="int">
 		SELECT 
		    COUNT(NO)
		FROM REVIEW
		WHERE RE_DEL='N'
 	</select>
 	
 	<select id="getSeminarReviewList" resultType="seminarReviewVo">
 		SELECT 
		    R.NO
		    ,S.NAME AS SEMINAR_NAME
		    ,R.CONTENT
		    ,R.REVIEW_THUMBNAIL
		    ,M.NICK AS MEMBER_NICK
		    ,M.PROFILE MEMBER_PROFILE
		FROM REVIEW R
		JOIN MEMBER M ON R.MEMBER_NO = M.NO
		JOIN SEMINAR S ON R.SEMINAR_NO = S.NO
		WHERE R.RE_DEL='N'
 	</select>
 	
 	
 	<select id="getSeminarReviewDetail" resultType="seminarReviewVo">
 		SELECT
		    S.NO AS SEMINAR_NO
		    ,S.NAME AS SEMINAR_NAME
		    ,M.NICK AS MEMBER_NICK
		    ,R.TITLE
		    ,R.POINT
		    ,R.CONTENT
		FROM REVIEW R
		JOIN SEMINAR S
		ON (R.SEMINAR_NO=S.NO)
		JOIN MEMBER M
		ON (R.MEMBER_NO=M.NO)
		WHERE R.NO = #{no}
 	</select>
 	
</mapper>