<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group">
    <select id="list" parameterType="groupVo" resultType="groupVo">
        SELECT
            NO
            ,NAME
            ,INTRO
            ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
        FROM
            SMALL_GROUP
        WHERE
            1=1
        <if test="enrollDate != null">
            AND TO_CHAR(ENROLL_DATE, 'YYYYMMDD') = #{enrollDate}
        </if>
        <if test="place != null">
            AND PLACE = #{place}
        </if>
        ORDER BY
            ENROLL_DATE DESC
    </select>
    <select id="total" resultType="int">
        SELECT
            COUNT(1)
        FROM
            SMALL_GROUP
        WHERE
            1=1
        <if test="enrollDate != null">
            AND TO_CHAR(ENROLL_DATE, 'YYYYMMDD') = #{enrollDate}
        </if>
        <if test="place != null">
            AND PLACE = #{place}
        </if>
    </select>
    <insert id="create" parameterType="groupVo">
        INSERT INTO SMALL_GROUP (
            NO
            ,M_NO
            ,C_NO
            ,L_NO
            ,NAME
            ,INTRO
            ,EXINTRO
            ,PLACE
            ,PEOPLENUM
            ,STARTTIME
            ,FINISHTIME
            ,GR_CLOSE
            ,TERM
            ,APPLYDATE
            ,HIT
            ,DEL_YN
            ,REPORT_YN
            ,BLOCK_YN
            ,ENROLL_DATE
        ) VALUES (
            SMALL_GROUP_SEQ.NEXTVAL
            ,${mNo}
            ,#{cNo}
            ,#{lNo}
            ,#{name}
            ,#{intro}
            ,#{exintro}
            ,#{place}
            ,#{peoplenum}
            ,#{starttime}
            ,#{finishtime}
            ,#{grClose}
            ,#{term}
            ,#{applydate}
            ,#{hit}
            ,#{delYn}
            ,#{reportYn}
            ,#{blockYn}
            ,#{enrollDate}
        )
    </insert>
    <update id="edit" parameterType="groupvo">
        update SMALL_GROUP
        set
        C_NO = #{cNo},
        L_NO = #{lNO},
        NAME = #{name},
        STARTTIME = #{starttime},
        FINISHTIME = #{finishtime},
        INTRO = #{intro},
        EXINTRO = #{exintro},
        WHERE
            NO = #{no}
    </update>
    <select id="detail" resultType="groupVo">
        SELECT
            NO,
            NAME,
            INTRO,
            PEOPLENUM,
            TERM,
            STARTTIME,
            FINISHTIME,
            DEL_YN,
            EXINTRO
        FROM
        SMALL_GROUP
        WHERE
        NO = #{no}
    </select>
    <update id="hit" parameterType="int">
        UPDATE BOARD
        SET HIT = HIT+1
        WHERE   NO = #{no}
        AND     STATUS = 'O'
    </update>
    <delete id="delete">
        UPDATE SMALL_GROUP
        SET
        STATUS = 'X'
        , MODIFY_DATE = SYSDATE
        WHERE   NO = #{no}
        AND     M_NO = #{mNo}
    </delete>
    <select id="join" resultType="groupVo">
        SELECT
            M_NO,
            NO,
            NAME,
            PEOPLENUM,
            TERM
        FROM
            SMALL_GROUP
        WHERE
            NO = #{no}
    </select>





</mapper>
