<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="join">
	INSERT INTO MEMBER
	(
		NO
		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE
	)
	VALUES
	(
		SEQ_MEMBER_NO.NEXTVAL
		,#{name}
		,#{id}
		,#{pwd}	
		,#{nick}	
		,#{phone}
		,#{resident}
		,#{resident2}
		,#{email}
		,#{email2}
		,#{gender}
		,#{attach}
		,#{local}
		,#{profileName}	
	)
	</insert>
	
	 <select id="checkId" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM MEMBER
	  	WHERE ID = #{id}
 	</select>
 	
 	 <select id="checkNick" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM MEMBER
	  	WHERE NICK = #{nick}
 	</select>
 	
 	<select id="login" resultType="memberVo">
 	SELECT
 		NO
		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE AS profileName
		,Q_REASON
		,QUIT_YN
		,REPORT_YN
		,BLOCK_YN
		,JOIN_DATE
		
		FROM MEMBER
		WHERE ID = #{id}
		AND QUIT_YN = 'N'
		AND BLOCK_YN = 'N'
     
 	</select>
 	
 	<update id="edit">
 		UPDATE MEMBER
    SET
         PROFILE=#{profileName}
        ,EMAIL=#{email}
        ,EMAIL2=#{email2}
        ,PHONE=#{phone}
        ,ATTACH=#{attach}
        ,NICK=#{nick}
        ,PWD=#{pwd}
    WHERE
        NO = #{no}
 	
 	</update>
 	
 	<select id="getMember" resultType="memberVo">
 		SELECT
 		NO 
 		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE AS profileName
		,Q_REASON
		,QUIT_YN
		,REPORT_YN
		,BLOCK_YN
		,JOIN_DATE
		
 		FROM MEMBER
 		WHERE NO= #{no}
 	</select>
 	
 	<select id="findId" resultType="memberVo">
 	SELECT id FROM MEMBER WHERE name = #{name} AND phone = #{phone}
 	</select>
 	
 	<select id="checkInfoForPwdEdit" resultType="memberVo">
 	SELECT ID, RESIDENT, RESIDENT2
	FROM MEMBER 
	WHERE id = #{id} 
	AND RESIDENT = #{resident} 
	AND RESIDENT2 = #{resident2}
 	</select>
 	
 	<update id="Pwdedit">
 	UPDATE MEMBER
	    SET
		PWD= #{pwd}
	WHERE
	    id = #{id}
 	</update>
 	
 	<select id="RecentGroupEnroll" resultType="groupVo">
 	SELECT 
    G.NAME, 
    G.NO
	FROM SMALL_GROUP G
	INNER JOIN (
	    SELECT 
	        A.G_NO
	    FROM 
	        APPLY_LIST A
	    WHERE 
		M_NO = #{no}
	    AND A.NO = (
	        SELECT MAX(NO)
	        FROM APPLY_LIST
	        WHERE M_NO = #{no}
	        AND G_NO IS NOT NULL
	    )
	) A ON G.NO = A.G_NO

 	</select>
 	
 	<select id="RecentInterestGroup" resultType="groupVo">
	SELECT 
    G.NAME,
    G.NO
	FROM 
	    SMALL_GROUP G
	INNER JOIN (
	    SELECT 
	        I.G_NO
	    FROM 
	        INTEREST I
	    WHERE 
	        I.M_NO = #{no}
	    AND I.NO = (
	        SELECT MAX(NO)
	        FROM INTEREST
	        WHERE M_NO = #{no}
		AND G_NO IS NOT NULL
	    )
	) I ON G.NO = I.G_NO

 	
 	</select>
 	
 	<select id="RecentSeminarEnroll" resultType="seminarVo">
 	SELECT 
    S.NAME,
    S.NO
	FROM 
	    SEMINAR S
	INNER JOIN (
	    SELECT 
	        A.S_NO
	    FROM 
	        APPLY_LIST A
	    WHERE 
	        M_NO = #{no}
	    AND A.NO = (
	        SELECT MAX(NO)
	        FROM APPLY_LIST
	        WHERE M_NO = #{no}
	        AND S_NO IS NOT NULL
	    )
	) A ON S.NO = A.S_NO
 	</select>
 	
 	<select id="RecentInterestSeminar" resultType="seminarVo">
 	SELECT 
    S.NAME,
    S.NO
	FROM 
	    SEMINAR S
	INNER JOIN (
	    SELECT 
	        I.S_NO
	    FROM 
	        INTEREST I
	    WHERE 
	        I.M_NO = #{no}
	    AND I.NO = (
	        SELECT MAX(NO)
	        FROM INTEREST
	        WHERE M_NO = #{no}
	        AND S_NO IS NOT NULL
	    )
	) I ON S.NO = I.S_NO


 	</select>
 	
 	<update id="quit">
    UPDATE MEMBER
    SET
        Q_REASON = #{qReason},
        QUIT_YN = 'Y'
    WHERE
        NO = #{no}
	</update>
	
	<select id="quitConfirm" resultType="memberVo">
	    SELECT *
	    FROM MEMBER
	    WHERE ID = #{memberId}
	</select>
	
	<select id="getEventDatesForMember" resultType="java.lang.String">
	    SELECT event_date
		FROM (
		    SELECT 'seminar' AS type, NAME, START_DAY AS event_date, NO
		    FROM SEMINAR
		    WHERE WRITER_NO = #{no}
		    UNION ALL
		    SELECT 'small_group' AS type, NAME, finishtime AS event_date, NO
		    FROM SMALL_GROUP
		    WHERE M_NO = #{no}
		) events
		WHERE event_date >= TRUNC(SYSDATE)
	</select>

 	
	<select id="getQnaList" resultType="qnaVo">
	    SELECT 
	        Q.NO,
	        Q.TITLE,
	        Q.WRITER_NO,
	        TO_CHAR(Q.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE,
	        Q.ANSWER_YN,
	        Q.DEL_YN,
	        M.NO
	    FROM QNA Q
	    JOIN MEMBER M ON (Q.WRITER_NO=M.NO)
	    WHERE M.NO = #{no}
	    ORDER BY Q.NO DESC
	</select>


 	
 	<select id="getInterestList" resultType="seminarVo">
 		SELECT
 			i.NO AS ino,
 			i.M_NO AS loginMemberNo,
 			s.NO,
		    s.NAME,
		    s.EXPENSE,
		    s.PLACE,
		    s.MAX_CAPACITY,
		    s.CLOSE_DAY,
		    s.START_DAY,
            s.SEMINAR_TIME,
		    s.SEMINAR_THUMBNAIL
		FROM
		    INTEREST i
		    INNER JOIN SEMINAR s ON i.S_NO = s.NO
		WHERE
		DEL_YN = 'N'
		    AND
		    i.M_NO = #{no}
		    ORDER BY ino DESC
 	</select>
 	
 	<delete id="interestEdit">
 		DELETE FROM INTEREST WHERE S_NO = #{no}
 		
 	</delete>
 	
 	<update id="likeCount">
 		UPDATE SEMINAR
		SET LIKE_COUNT = LIKE_COUNT - 1
		WHERE NO = #{no}
 		
 	</update>
 	
 	<select id="getInterestListGvo" resultType="groupVo">
 	SELECT 
    I.M_NO AS loginMemberNo,
    sg.NO,
    sg.NAME,
    sg.PLACE,
    sg.PEOPLENUM,
    sg.STARTTIME, 
    sg.FINISHTIME,
    sg.APPLYDATE,
    gp.change_name AS GROUP_THUMNAIL
	FROM
	    INTEREST I
	JOIN
	    SMALL_GROUP sg ON sg.NO = I.G_NO
	LEFT JOIN
	    GROUP_PO gp ON sg.NO = gp.G_NO
	WHERE
    I.M_NO = #{no}
	ORDER BY I.NO DESC
 	</select>
 	
 	<delete id="interestEditGvo">
 	DELETE FROM INTEREST WHERE G_NO = #{no}
 	</delete>
 	
 	<select id="getEnrollListGvo" resultType="groupVo">
	SELECT 
	    A.M_NO AS loginMemberNo,
	    sg.NO,
	    sg.NAME,
	    sg.PLACE,
	    sg.PEOPLENUM,
	    sg.STARTTIME, 
	    sg.FINISHTIME,
	    gp.change_name AS GROUP_THUMNAIL,
	    A.AS_NO,
	    AST.STATE,
	    A.GROUPOUT
		FROM
		    APPLY_LIST A
		JOIN
		    SMALL_GROUP sg ON sg.NO = A.G_NO
		    INNER JOIN
			    APPLY_STATE AST ON A.AS_NO = AST.NO
		LEFT JOIN
		    GROUP_PO gp ON sg.NO = gp.G_NO
		WHERE
		    A.GROUPOUT = 'N'
		    AND A.M_NO = #{no}
		ORDER BY A.NO DESC
 	</select>
 	
 	<select id="getEnrollList" resultType="seminarVo">
 	 SELECT
    A.NO AS aNo,
    A.M_NO AS loginMemberNo,
    A.S_NO,
    S.NO,
    S.NAME,
    S.EXPENSE,
    S.PLACE,
    S.MAX_CAPACITY,
    S.START_DAY,
    S.SEMINAR_TIME,
    S.SEMINAR_THUMBNAIL,
    A.AS_NO,
    AST.STATE,
    PL.NO,
    PW.P_WAY AS PWAY,
    PS.P_STATE AS PSTATE
	FROM
	    APPLY_LIST A
	INNER JOIN
	    APPLY_STATE AST ON A.AS_NO = AST.NO
	INNER JOIN
	    SEMINAR S ON A.S_NO = S.NO
	LEFT JOIN
	    PAY_LIST PL ON A.P_NO = PL.NO
	LEFT JOIN
	    PAY_WAY PW ON PL.PW_NO = PW.NO
	LEFT JOIN
	    PAY_STATE PS ON PL.PS_NO = PS.NO
	WHERE
	DEL_YN = 'N'
		    AND
	    A.M_NO = #{no}
	    ORDER BY A.NO DESC
 	
 	</select>
 	
 	<delete id="enrollEditGvo">
 	DELETE FROM APPLY_LIST WHERE G_NO = #{no}
 	</delete>
 	
 	<delete id="enrollEdit">
 	 DELETE FROM APPLY_LIST WHERE S_NO = #{no}
 	</delete>
 	
 	<update id="enrollEditResult">
 	    UPDATE SEMINAR
		SET CURRENT_CAPACITY = CURRENT_CAPACITY -1
		WHERE NO = #{no}
 	</update>
 	
 	<select id="enrolllReivew" resultType="seminarVo">
 		SELECT
    A.NO AS aNo,
    A.M_NO AS loginMemberNo,
    A.S_NO,
    S.NO,
    S.NAME,
    S.EXPENSE,
    S.PLACE,
    S.MAX_CAPACITY,
    S.START_DAY,
    S.SEMINAR_TIME,
    S.SEMINAR_THUMBNAIL,
    A.AS_NO,
    AST.STATE,
    PL.NO,
    PW.P_WAY AS PWAY,
    PS.P_STATE AS PSTATE
	FROM
	    APPLY_LIST A
	INNER JOIN
	    APPLY_STATE AST ON A.AS_NO = AST.NO
	INNER JOIN
	    SEMINAR S ON A.S_NO = S.NO
	LEFT JOIN
	    PAY_LIST PL ON A.P_NO = PL.NO
	LEFT JOIN
	    PAY_WAY PW ON PL.PW_NO = PW.NO
	LEFT JOIN
	    PAY_STATE PS ON PL.PS_NO = PS.NO
	WHERE
	DEL_YN = 'N'
		    AND
        TRUNC(SYSDATE) > TO_DATE(START_DAY, 'YYYY-MM-DD')
        and A.S_NO = #{no}
 	</select>
 	
 	<select id="getmadeListSeminar" resultType="seminarVo">
 	SELECT
 		NO,
	    NAME, 
	    EXPENSE, 
	    PLACE, 
	    MAX_CAPACITY, 
	    CLOSE_DAY,
	    START_DAY,
	    CURRENT_CAPACITY,
	    SEMINAR_TIME,
	    SEMINAR_THUMBNAIL
	FROM SEMINAR
	WHERE WRITER_NO = #{no}
    AND DEL_YN='N'
	ORDER BY NO DESC
 	</select>
 	
 	<select id="checkSeminarEdit" resultType="seminarVo">
 	 SELECT 
 	 	NO,
	    NAME, 
	    EXPENSE, 
	    PLACE, 
	    MAX_CAPACITY, 
	    CLOSE_DAY,
	    START_DAY,
	    CURRENT_CAPACITY,
	    SEMINAR_TIME,
	    SEMINAR_THUMBNAIL
	FROM SEMINAR
    WHERE
        TO_DATE(START_DAY, 'YYYY-MM-DD') > TRUNC(SYSDATE)
        AND DEL_YN='N'
	AND NO = #{no}
 	</select>
 	
 	<select id="getmadeListGroup" resultType="groupVo">
 	SELECT
    sg.NO,
    sg.NAME,
    sg.PLACE,
    sg.PEOPLENUM,
    sg.STARTTIME,
    sg.FINISHTIME,
    sg.APPLYDATE,
    gp.change_name AS GROUP_THUMNAIL,
    COUNT(CASE WHEN ga.STATUS = 'applied' THEN 1 END) AS WAITING_COUNT,
    COUNT(CASE WHEN ga.STATUS = 'approved' THEN 1 END) AS CONFIRMED_COUNT
	FROM
	    SMALL_GROUP sg
	LEFT JOIN
	    GROUP_APPLY ga ON sg.NO = ga.G_NO
	LEFT JOIN
	    GROUP_PO gp ON sg.NO = gp.G_NO
	WHERE
	    sg.M_NO = #{no}
	GROUP BY
	    sg.NO,
	    sg.NAME,
	    sg.PLACE,
	    sg.PEOPLENUM,
	    sg.STARTTIME,
	    sg.FINISHTIME,
	    sg.APPLYDATE,
	    gp.change_name
	ORDER BY
	    sg.NO DESC
 	</select>
 	
 	<select id="checkGroupEdit" resultType="groupVo">
 	SELECT
    sg.NO,
    sg.NAME,
    sg.PLACE,
    sg.PEOPLENUM,
    sg.STARTTIME,
    sg.FINISHTIME,
    sg.APPLYDATE,
    gp.change_name AS GROUP_THUMNAIL
FROM SMALL_GROUP sg
LEFT JOIN GROUP_PO gp ON sg.NO = gp.G_NO
WHERE
    TO_DATE(sg.FINISHTIME, 'YYYY-MM-DD') > TRUNC(SYSDATE)
    AND sg.NO = #{no}
 	</select>
 	
 	<select id="checkGroupPeopleEdit" resultType="groupVo">
 	SELECT
    sg.NO,
    sg.NAME,
    sg.PLACE,
    sg.PEOPLENUM,
    sg.STARTTIME,
    sg.FINISHTIME,
    sg.APPLYDATE,
    gp.change_name AS GROUP_THUMNAIL
FROM SMALL_GROUP sg
LEFT JOIN GROUP_PO gp ON sg.NO = gp.G_NO
WHERE
    TO_DATE(sg.FINISHTIME, 'YYYY-MM-DD') > TRUNC(SYSDATE)
    AND sg.NO =#{no}
 	</select>
 	
 	
</mapper>