<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="join">
	INSERT INTO MEMBER
	(
		NO
		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE
	)
	VALUES
	(
		SEQ_MEMBER_NO.NEXTVAL
		,#{name}
		,#{id}
		,#{pwd}	
		,#{nick}	
		,#{phone}
		,#{resident}
		,#{resident2}
		,#{email}
		,#{email2}
		,#{gender}
		,#{attach}
		,#{local}
		,#{profileName}	
	)
	</insert>
	
	 <select id="checkId" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM MEMBER
	  	WHERE ID = #{id}
 	</select>
 	
 	 <select id="checkNick" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM MEMBER
	  	WHERE NICK = #{nick}
 	</select>
 	
 	<select id="login" resultType="memberVo">
 	SELECT
 		NO
		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE AS profileName
		,QUIT_YN
		,REPORT_YN
		,BLOCK_YN
		,JOIN_DATE
		
		FROM MEMBER
		WHERE ID = #{id}
		AND QUIT_YN = 'N'
     
 	</select>
 	
<!--  	 <update id="quit">
  	UPDATE MEMBER
  		SET
  			QUIT_YN = 'Y'
  		WHERE NO = #{no}
  </update> -->
 	
</mapper>