<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="join">
	INSERT INTO MEMBER
	(
		NO
		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE
	)
	VALUES
	(
		SEQ_MEMBER_NO.NEXTVAL
		,#{name}
		,#{id}
		,#{pwd}	
		,#{nick}	
		,#{phone}
		,#{resident}
		,#{resident2}
		,#{email}
		,#{email2}
		,#{gender}
		,#{attach}
		,#{local}
		,#{profileName}	
	)
	</insert>
	
	 <select id="checkId" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM MEMBER
	  	WHERE ID = #{id}
 	</select>
 	
 	 <select id="checkNick" resultType="int"> 
	  	SELECT COUNT(*)
	  	FROM MEMBER
	  	WHERE NICK = #{nick}
 	</select>
 	
 	<select id="login" resultType="memberVo">
 	SELECT
 		NO
		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE AS profileName
		,Q_REASON
		,QUIT_YN
		,REPORT_YN
		,BLOCK_YN
		,JOIN_DATE
		
		FROM MEMBER
		WHERE ID = #{id}
		AND QUIT_YN = 'N'
		AND BLOCK_YN = 'N'
     
 	</select>
 	
 	<update id="edit">
 		UPDATE MEMBER
    SET
         PROFILE=#{profileName}
        ,EMAIL=#{email}
        ,EMAIL2=#{email2}
        ,PHONE=#{phone}
        ,ATTACH=#{attach}
        ,NICK=#{nick}
        ,PWD=#{pwd}
    WHERE
        NO = #{no}
 	
 	</update>
 	
 	<select id="getMember" resultType="memberVo">
 		SELECT
 		NO 
 		,NAME
		,ID
		,PWD
		,NICK
		,PHONE
		,RESIDENT
		,RESIDENT2
		,EMAIL
		,EMAIL2
		,GENDER
		,ATTACH
		,LOCAL
		,PROFILE AS profileName
		,Q_REASON
		,QUIT_YN
		,REPORT_YN
		,BLOCK_YN
		,JOIN_DATE
		
 		FROM MEMBER
 		WHERE NO= #{no}
 	</select>
 	
 	<update id="quit" >
 	UPDATE MEMBER
    SET
         Q_REASON = #{qReason}
        ,QUIT_YN= 'Y'
    WHERE
        NO = #{no}
 	</update>
 	
 	<select id="quitConfirm" resultType="memberVo">
 	SELECT * 
	FROM MEMBER
	WHERE NO= #{no}
 	</select>
 	
 	<select id="getQnaList" resultType="qnaVo">
		SELECT 
		Q.NO
		,Q.TITLE
		,Q.WRITER_NO
		,Q.ENROLL_DATE
		,Q.ANSWER_YN
		,Q.DEL_YN
        ,M.NO
		FROM QNA Q
        JOIN MEMBER M ON (Q.WRITER_NO=M.NO)
        WHERE M.NO = #{no}
 	</select>
 	
 	<select id="getSvoList" resultType="seminarVo">
 		SELECT
 			i.NO AS ino,
 			i.M_NO AS loginMemberNo,
 			s.NO,
		    s.NAME,
		    s.EXPENSE,
		    s.PLACE,
		    s.MAX_CAPACITY,
		    s.CLOSE_DAY,
		    s.START_DAY,
            s.SEMINAR_TIME,
		    s.SEMINAR_THUMBNAIL
		FROM
		    INTEREST i
		    INNER JOIN SEMINAR s ON i.S_NO = s.NO
		WHERE
		    i.M_NO = #{no}
 	</select>
 	
 	<delete id="interestEdit">
 		DELETE FROM INTEREST WHERE S_NO = #{no}
 		
 	</delete>
 	
 	<select id="getEnrollList" resultType="seminarVo">
 	SELECT
    A.NO AS aNo,
    A.M_NO AS loginMemberNo,
    A.S_NO,
    S.NO,
    S.NAME,
    S.EXPENSE,
    S.PLACE,
    S.MAX_CAPACITY,
    S.START_DAY,
    S.SEMINAR_TIME,
    S.SEMINAR_THUMBNAIL,
    A.AS_NO,
    A.P_NO,
    AS_STATE.STATE
	FROM
	    APPLY_LIST A
	INNER JOIN
	    APPLY_STATE AS_STATE ON A.AS_NO = AS_STATE.NO
	INNER JOIN
	    SEMINAR S ON A.S_NO = S.NO
	WHERE
	    A.M_NO = #{no}
 	
 	</select>
 	
 	<delete id="enrollEdit">
 	 DELETE FROM APPLY_LIST WHERE S_NO = #{no}
 	</delete>
 	
 	<select id="enrolllReivew" resultType="seminarVo">
 		SELECT
    A.NO AS aNo,
    A.M_NO AS loginMemberNo,
    A.S_NO,
    S.NO,
    S.NAME,
    S.EXPENSE,
    S.PLACE,
    S.MAX_CAPACITY,
    S.START_DAY,
    S.SEMINAR_TIME,
    S.SEMINAR_THUMBNAIL,
    A.AS_NO,
    A.P_NO,
    AS_STATE.STATE
	FROM
	    APPLY_LIST A
	INNER JOIN
	    APPLY_STATE AS_STATE ON A.AS_NO = AS_STATE.NO
	INNER JOIN
	    SEMINAR S ON A.S_NO = S.NO
	WHERE
        TO_DATE(START_DAY, 'YYYY-MM-DD') > TRUNC(SYSDATE)
        and A.S_NO = #{no}
 	</select>
 	
 	<select id="getmadeListSeminar" resultType="seminarVo">
 	SELECT 
	    NAME, 
	    EXPENSE, 
	    PLACE, 
	    MAX_CAPACITY, 
	    CLOSE_DAY,
	    START_DAY,
	    SEMINAR_TIME,
	    SEMINAR_THUMBNAIL
	FROM SEMINAR
	WHERE WRITER_NO = #{no}
 	</select>
 	
 	
</mapper>