<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seminar">
 	<select id="bank" resultType="bankVo">
 		SELECT 
 			NO
 			, BANKNAME
		FROM BANK
 	</select>
 	
 	<insert id="create">
 		INSERT INTO SEMINAR (
		    NO
		    ,WRITER_NO
		    ,BANK_NO
		    ,NAME
		    ,INTRO
		    ,EXINTRO
		    ,PLACE
		    ,DETAIL_ADDRESS
		    ,MAX_CAPACITY
		    ,START_DAY
		    ,SEMINAR_TIME
		    ,CLOSE_DAY
		    ,CLOSE_TIME
		    ,PAY_YN
		    ,EXPENSE
		    ,ACOUNTNUM
		    ,SEMINAR_THUMBNAIL
		)
		VALUES(
		    SEQ_SEMINAR_NO.NEXTVAL
		    ,#{writerNo}
		    ,#{bankNo}
		    ,#{name}
		    ,#{intro}
		    ,#{exintro}
		    ,#{place}
		    ,#{detailAddress}
		    ,#{maxCapacity}
		    ,#{startDay}
		    ,#{seminarTime}
		    ,#{closeDay}
		    ,#{closeTime}
		    ,#{payYn}
		    ,#{expense}
		    ,#{acountnum}
		    ,#{seminarThumbnail}
		)
 	</insert>
 	
 	<insert id="semimarAttach">
 		INSERT INTO SEMINAR_ATTACH
		(
			NO
			, SEMINAR_NO
			, ORIGIN_NAME
			, CHANGE_NAME
		) 
		VALUES 
		(
			SEQ_SEMINAR_ATTACH_NO.NEXTVAL 
			, SEQ_SEMINAR_NO.CURRVAL
			, #{originName}
			, #{changeName}
		)
 	</insert>
 	
 	
 	<select id="getSeminarCnt" resultType="int">
 		SELECT COUNT(NO)
			FROM SEMINAR 
			WHERE DEL_YN ='N' 
			AND BLOCK_YN = 'N'
			AND TO_DATE(START_DAY, 'YYYY-MM-DD') > CURRENT_DATE
			<if test="searchOption == 'name'">
				AND NAME LIKE '%${searchValue}%'
			</if>
			<if test="searchOption == 'place'">
				AND PLACE LIKE '%${searchValue}%'
			</if>
 	</select>
 	
 	<select id="getSeminarList" resultType="seminarVo">
 		SELECT 
		    NO
		    , LIKE_COUNT
		    , NAME
		    , START_DAY
		    , SEMINAR_TIME
		    , PAY_YN
		    , SEMINAR_THUMBNAIL
		FROM SEMINAR
		WHERE DEL_YN = 'N'
		AND BLOCK_YN = 'N'
		AND TO_DATE(START_DAY, 'YYYY-MM-DD') > CURRENT_DATE
		<if test="searchOption == 'name'">
			AND NAME LIKE '%${searchValue}%'
			ORDER BY NO DESC
		</if>
		<if test="searchOption == 'place'">
			AND PLACE LIKE '%${searchValue}%'
			ORDER BY NO DESC
		</if>
		<if test="sort == 'like'">
			ORDER BY LIKE_COUNT DESC
		</if>
		<if test="sort == 'close'">
			ORDER BY CLOSE_DAY
		</if>
		<if test="searchOption != 'name' and searchOption != 'place' and sort != 'like' and sort != 'close'">
		    ORDER BY NO DESC
		</if>
 	</select>

	<select id="getSeminarDetail" resultType="seminarVo">
		SELECT 
		    S.NO
		    , S.WRITER_NO
		    , S.SEMINAR_THUMBNAIL
		    , S.NAME
		    , S.INTRO
		    , S.EXINTRO
		    , S.START_DAY
		    , S.SEMINAR_TIME
		    , S.PLACE
		    , S.DETAIL_ADDRESS
		    , S.LIKE_COUNT
		    , S.HIT
		    , S.MAX_CAPACITY
		    , S.CURRENT_CAPACITY
		    , S.CLOSE_DAY
		    , S.CLOSE_TIME
		    , S.PAY_YN
		    , NVL(S.EXPENSE, 0) AS EXPENSE
		    , M.NO
		    , M.NICK AS WRITER_NICK
		    , M.EMAIL
		    , M.EMAIL2
		    , M.PHONE
		    , M.ATTACH  AS MEMBER_ATTACH
		    , M.PROFILE
		FROM SEMINAR S
		JOIN MEMBER M
		ON (S.WRITER_NO = M.NO)
		WHERE S.NO = #{no}
	</select>
 	
 	<update id="increaseSminarHit">
 		UPDATE SEMINAR 
		    SET HIT= HIT+1
		WHERE NO = #{no}
 	</update>
 	
 	<select id="selectInterstSeminar" resultType="memberInterestVo">
 		SELECT
		    NO
		    ,S_NO
		    ,M_NO
		FROM  INTEREST
		WHERE S_NO = #{no}
		AND M_NO= #{loginMemberNo}
 	</select>
 	
 	
 	<insert id="addInterestSeminar">
 		INSERT INTO INTEREST 
 		(
 			NO
 			,S_NO
 			,M_NO
 		) 
 		VALUES
 		(	
 			SEQ_INTEREST_NO.NEXTVAL
 			,#{no}
 			,#{loginMemberNo}
 		)
 	</insert>
 	
 	<update id="addLikeCount">
 		UPDATE SEMINAR
    		SET LIKE_COUNT = LIKE_COUNT+1
		WHERE NO = #{no}
 	</update>
 	
 	
 	
</mapper>