#seminar-area{
  width: 1300px;
  height: 80%;
  margin: auto;
  margin-top: 100px;
}
#seminar-title{
margin-bottom: 50px;
color: rgb(102, 81, 56);
}

#seminar-serch-area{
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
   background-color: rgb(234, 244, 253);
  height: 100px;
  border-radius: 8px;
}

#search-box {
  padding-top: 25px;
}

#select-size{
	margin-right : 10px;
	height : 40px;
}

#search-box-size{
	height : 40px;
}

.form-select {
  width: 10%;
  margin-left: 49px;
}
/* 이거이거이ㅓㄱ */
/* .mb-3 {
  margin-bottom: 0rem!important;
  margin-right: 10px;
} */
.form-control{
  width: 70%;
}

a{
  text-decoration: none;
  color: black;
}

.btn-outline-secondary{
  float: right;
}

#select-menu{
  margin-bottom: 20px;
}

.g-3, .gy-3{
  --bs-gutter-y: 3rem;
}

.g-3, .gx-3 {
  --bs-gutter-x: 2rem;
}

/* 이거 */
/* .py-5 {
  padding-bottom: 5rem!important;
} */

/* .bi-heart{
  float: right;
}
#good-icon{
  float: right;
} */