html,
body {
  margin: 0;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #5961f9 0%,
    #2afadf 40%,
    #f9fea5 100%
  );
  background-repeat: no-repeat;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
p {
  color: #204754;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.8rem;
}

p:last-child {
  margin-bottom: -6px;
}
.site-wrap {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 10rem 2rem;
}

section {
  margin-bottom: 10rem;
  padding: 4rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
}

section:last-child {
  margin-bottom: 0;
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

[data-scroll='out'] {
  opacity: 0;
}

*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/* �޴���css */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --mf1-color-primary-hsl: 250, 84%, 54%;
  --mf1-color-bg-hsl: 0, 0%, 100%;
  --mf1-color-contrast-high-hsl: 230, 7%, 23%;
  --mf1-color-contrast-higher-hsl: 230, 13%, 9%;
  --mf1-color-contrast-lower-hsl: 240, 4%, 85%;
  --mf1-color-contrast-medium-hsl: 225, 4%, 47%;
  --mf1-color-bg-dark-hsl: 240, 4%, 95%;
  --mf1-color-white-hsl: 0, 0%, 100%;
  --mf1-color-primary-darker-hsl: 250, 84%, 38%;
  --mf1-color-primary-light-hsl: 250, 84%, 60%;
  --mf1-color-bg-lighter-hsl: 0, 0%, 100%;
  --mf1-color-black-hsl: 230, 13%, 9%;
  --mf1-color-bg-light-hsl: 0, 0%, 100%;

  /* spacing */
  --mf1-space-2xs: 0.375rem;
  --mf1-space-sm: 0.75rem;
  --mf1-space-md: 1.25rem;

  /* typography */
  --mf1-text-lg: 1.25rem;
  --mf1-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --mf1-space-2xs: 0.5625rem;
    --mf1-space-sm: 1.125rem;
    --mf1-space-md: 2rem;

    /* typography */
    --mf1-text-lg: 1.75rem;
    --mf1-text-sm: 1rem;
  }
}

/* buttons */
.mf1-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-decoration: none;
  background: hsl(var(--mf1-color-bg-dark-hsl));
  color: hsl(var(--mf1-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--mf1-space-2xs) var(--mf1-space-sm);
  border-radius: 0.25em;
}

.mf1-btn:focus-visible {
  box-shadow: 0px 0px 0px 2px hsl(var(--mf1-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--mf1-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.mf1-btn:active {
  transform: translateY(2px);
}

.mf1-btn--primary {
  background: hsl(var(--mf1-color-primary-hsl));
  color: hsl(var(--mf1-color-white-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.15), 0px 1px 3px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 2px 6px hsla(var(--mf1-color-primary-darker-hsl), 0.1), 0px 6px 10px -2px hsla(var(--mf1-color-primary-darker-hsl), 0.25);
}

.mf1-btn--primary:hover {
  background: hsl(var(--mf1-color-primary-light-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--mf1-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--mf1-color-primary-darker-hsl), 0.25);
}

.mf1-btn--primary:focus {
  box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--mf1-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 0px 0px 2px hsl(var(--mf1-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--mf1-color-primary-hsl));
}

.mf1-btn--subtle {
  background: hsl(var(--mf1-color-bg-lighter-hsl));
  color: hsl(var(--mf1-color-contrast-higher-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--mf1-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--mf1-color-black-hsl), 0.2), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.mf1-btn--subtle:hover {
  background: hsl(var(--mf1-color-bg-light-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--mf1-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--mf1-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
}

.mf1-btn--subtle:focus {
  box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--mf1-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--mf1-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px hsl(var(--mf1-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--mf1-color-contrast-high-hsl));
}

/* component */
:root {
  --header-height: 50px;
}
@media (min-width: 64rem) {
  :root {
    --header-height: 70px;
  }
}

.header {
  height: var(--header-height);
  width: 100%;
  background-color: hsl(var(--mf1-color-bg-hsl));
  z-index: 3;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.header__logo a, .header__logo svg, .header__logo img {
  display: block;
}

.header__nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  background-color: hsl(var(--mf1-color-bg-hsl));
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
  overflow: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.header__nav::before {
  content: "";
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: var(--header-height);
  background: inherit;
  border-bottom: 1px solid hsl(var(--mf1-color-contrast-lower-hsl));
}

.header__nav--is-visible {
  display: block;
}

.header__nav-inner {
  padding: var(--mf1-space-md);
}

.header__label {
  font-size: var(--mf1-text-sm);
  color: hsl(var(--mf1-color-contrast-medium-hsl));
  margin-bottom: var(--mf1-space-sm);
}

.header__item {
  margin-bottom: var(--mf1-space-sm);
}

.header__link {
  font-size: var(--mf1-text-lg);
  color: hsl(var(--mf1-color-contrast-higher-hsl));
  text-decoration: none;
}
.header__link:hover, .header__link[aria-current] {
  color: hsl(var(--mf1-color-primary-hsl));
}

.header__nav-btn {
  font-size: var(--mf1-text-lg);
  width: 100%;
}

.header__item--divider {
  height: 1px;
  width: 100%;
  background-color: hsl(var(--mf1-color-contrast-lower-hsl));
}

.header__trigger {
  position: relative;
  z-index: 2;
}

.header__trigger-icon {
  position: relative;
  display: block;
  height: 2px;
  width: 1em;
  background-color: currentColor;
  margin-right: var(--mf1-space-2xs);
  transition: 0.2s;
}
.header__trigger-icon::before, .header__trigger-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  transition: 0.2s;
}
.header__trigger-icon::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.header__trigger-icon::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header__trigger[aria-expanded=true] .header__trigger-icon {
  background-color: transparent;
}
.header__trigger[aria-expanded=true] .header__trigger-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__trigger[aria-expanded=true] .header__trigger-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 64rem) {
  .header__nav {
    position: static;
    background-color: transparent;
    width: auto;
    max-height: none;
    box-shadow: none;
    overflow: visible;
    -ms-scroll-chaining: chained;
        overscroll-behavior: auto;
    display: block;
  }
  .header__nav::before {
    display: none;
  }

  .header__nav-inner {
    padding: 0;
  }

  .header__label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
  }

  .header__list {
    display: flex;
    align-items: center;
  }

  .header__item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: var(--mf1-space-md);
  }

  .header__link, .header__nav-btn {
    font-size: 1.125rem;
  }

  .header__item--divider {
    height: 1em;
    width: 1px;
  }

  .header__trigger {
    display: none;
  }
}

/* utility classes */
.mf1-max-width-lg {
  max-width: 80rem;
}

.mf1-container {
  width: calc(100% - 2*var(--mf1-space-md));
  margin-left: auto;
  margin-right: auto;
}

.mf1-position-relative {
  position: relative;
}
/* �޴���css */

/* Ǫ�� css */
/* variables */
:root {
    /* colors */
    --me6-color-primary-hsl: 250, 84%, 54%;
    --me6-color-bg-hsl: 0, 0%, 100%;
    --me6-color-contrast-high-hsl: 230, 7%, 23%;
    --me6-color-contrast-higher-hsl: 230, 13%, 9%;
    --me6-color-contrast-medium-hsl: 225, 4%, 47%;
    --me6-color-contrast-lower-hsl: 240, 4%, 85%;
  
    /* spacing */
    --me6-space-xs: 0.5rem;
    --me6-space-sm: 0.75rem;
    --me6-space-md: 1.25rem;
    --me6-space-lg: 2rem;
    --me6-space-xl: 3.25rem;
  
    /* typography */
    --me6-text-base: 1rem;
    --me6-text-sm: 0.833rem;
    --me6-text-xs: 0.694rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --me6-space-xs: 0.75rem;
      --me6-space-sm: 1.125rem;
      --me6-space-md: 2rem;
      --me6-space-lg: 3.125rem;
      --me6-space-xl: 5.125rem;
  
      /* typography */
      --me6-text-base: 1.25rem;
      --me6-text-sm: 1rem;
      --me6-text-xs: 0.8rem;
    }
  }
  
  /* icons */
  .me6-icon {
    height: var(--me6-size, 1em);
    width: var(--me6-size, 1em);
    display: inline-block;
    color: inherit;
    fill: currentColor;
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
  }
  
  /* component */
  .main-footer__logo {
    display: inline-block;
  }
  .main-footer__logo svg, .main-footer__logo img {
    display: block;
  }
  
  .main-footer__link {
    color: hsl(var(--me6-color-contrast-medium-hsl));
    text-decoration: none;
    font-size: 20px;
  }
  .main-footer__link:hover {
    color: hsl(var(--me6-color-contrast-high-hsl));
    text-decoration: underline;
  }
  
  .main-footer__social {
    text-decoration: none;
    display: inline-block;
    color: hsl(var(--me6-color-contrast-medium-hsl));
  }
  .main-footer__social:hover {
    color: hsl(var(--me6-color-contrast-high-hsl));
  }
  .main-footer__social .me6-icon {
    font-size: 1.2em;
  }
  @media (min-width: 64rem) {
    .main-footer__social .me6-icon {
      font-size: 1em;
    }
  }
  
  /* utility classes */
  .me6-block {
    display: block;
  }
  
  .me6-gap-xs {
    gap: var(--me6-space-xs);
  }
  
  .me6-items-center {
    align-items: center;
  }
  
  .me6-flex {
    display: flex;
  }
  
  .me6-color-contrast-high {
    --me6-color-o: 1;
    color: hsla(var(--me6-color-contrast-high-hsl), var(--me6-color-o, 1));
  }
  
  .me6-flex-wrap {
    flex-wrap: wrap;
  }
  
  .me6-color-contrast-medium {
    --me6-color-o: 1;
    color: hsla(var(--me6-color-contrast-medium-hsl), var(--me6-color-o, 1));
  }
  
  .me6-text-sm {
    font-size: var(--me6-text-sm);
  }
  
  .me6-margin-bottom-sm {
    margin-bottom: var(--me6-space-sm);
  }
  
  .me6-margin-top-lg {
    margin-top: var(--me6-space-lg);
  }
  
  .me6-padding-y-xs {
    padding-top: var(--me6-space-xs);
    padding-bottom: var(--me6-space-xs);
  }
  
  .me6-border-top {
    --me6-border-o: 1;
    border-top: var(--me6-border-width, 1px) var(--me6-border-style, solid) hsla(var(--me6-color-contrast-lower-hsl), var(--me6-border-o, 1));
  }
  
  .me6-flex-column {
    flex-direction: column;
  }
  
  .me6-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .me6-grid > * {
    min-width: 0;
    grid-column-end: span 12;
  }
  
  .me6-gap-y-lg {
    row-gap: var(--me6-space-lg);
  }
  
  .me6-max-width-lg {
    max-width: 150rem;
  }
  
  .me6-container {
    width: calc(100% - 2*var(--me6-space-md));
    margin-left: auto;
    margin-right: auto;
  }
  
  .me6-padding-top-xl {
    padding-top: var(--me6-space-xl);
  }
  
  .me6-z-index-1 {
    z-index: 1;
  }
  
  .me6-position-relative {
    position: relative;
  }
  
  @media(min-width: 32rem){
    .me6-gap-lg\@xs {
      gap: var(--me6-space-lg);
    }
  
    .me6-col-6\@xs {
      grid-column-end: span 6;
    }
  }
  
  @media(min-width: 64rem){
    .me6-text-xs\@md {
      font-size: var(--me6-text-xs);
    }
  
    .me6-margin-bottom-0\@md {
      margin-bottom: 0;
    }
  
    .me6-items-center\@md {
      align-items: center;
    }
  
    .me6-justify-between\@md {
      justify-content: space-between;
    }
  
    .me6-flex-row\@md {
      flex-direction: row;
    }
  
    .me6-text-sm\@md {
      font-size: var(--me6-text-sm);
    }
  
    .me6-text-base\@md {
      font-size: var(--me6-text-base);
    }
  
    .me6-col-3\@md {
      grid-column-end: span 3;
    }
  }
  
  @media(min-width: 80rem){
    .me6-order-1\@lg {
      order: 1;
    }
  
    .me6-text-right\@lg {
      text-align: center;
    }
  
    /* .me6-order-2\@lg {
      order: 0;
    }
   */
    .me6-gap-lg\@lg {
      gap: var(--me6-space-lg);
    }
  
    .me6-col-3\@lg {
      grid-column-end: span 3;
    }
  
    .me6-col-9\@lg {
      grid-column-end: span 9;
    }
  }
  
/* Ǫ�� css */

/* �Ұ���  */
.text_box{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 7rem;
  color: black;
  font-weight: 800;
}
.sub-title{
  margin-top: 20px;
  margin: auto;
  text-align: center;
  width: 900px;
  height: 100px;
  font-size: 2rem;
  color: black;
}


/* �Ҹ��� */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.group-best{
  margin-left: 210px;
  font-size: 35px;
  margin-top: 300px;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 200px;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  margin-left: 50px;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(/img/�Ҹ��ӻ���1.png);
}
.card:nth-child(2):before {
  background-image: url(/img/�Ҹ��ӻ���2.png);
}
.card:nth-child(3):before {
  background-image: url(/img/�Ҹ��ӻ���3.png);
}
.card:nth-child(4):before {
  background-image: url(/img/�Ҹ��ӻ���4.png);
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}


/* ����, �������� faq */
.tabs {
  margin: auto;
  /* position:absolute; */
  top:50%;
  left:50%;
  /* transform:translate(-50%,-50%); */
  width:1300px;
  height:600px;
  /* background:#f5f5f5; */
  padding:20px 30px;
  overflow:hidden;
  border-radius:50px;
  /* box-shadow:5px 10px 5px #ccc; */
}
.tabs .tab-header {
  height:60px;
  display:flex;
  align-items:center;
}
.tabs .tab-header > div {
  width:calc(100% / 4);
  text-align:center;
  color:black;
  font-weight:600;
  cursor:pointer;
  font-size:21px;
  text-transform:uppercase;
  outline:none;
}
.tabs .tab-header > div > i {
  display:block;
  margin-bottom:5px;
}
.tabs .tab-header > div.active {
  color:#00acee;
}
.tabs .tab-indicator {
  position:relative;
  width:calc(100% / 4);
  height:5px;
  background:#00acee;
  left:0px;
  border-radius:5px;
  transition:all 500ms ease-in-out;
}
.tabs .tab-body {
  position:relative;
  height:calc(100% - 60px);
  padding:10px 5px;
}
.tabs .tab-body > div {
  position:absolute;
  top:-200%;
  opacity:0;
  transform:scale(0.9);
  transition:opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  top:0px;
  opacity:1;
  transform:scale(1);
}

/* ���̳� */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,400,900,800i");


#hero-slides {
  --page: 0;
  height: 100vh;
  /* background: #25303c;
  background: linear-gradient(90deg, #3e4751 0%, #25303c 100%); */
}
#hero-slides #header {
  height: 12vh;
  line-height: 12vh;
  padding: 0 12vw;
  position: relative;
}
 #header {
 	font-size: 35px;
 }
 
#hero-slides #header #logo {
  font-size: 2.5vh;
  font-style: italic;
}
#hero-slides #header #logo:before {
  content: 'The';
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 0.4em;
}
#hero-slides #header #logo:after {
  content: 'Wall';
  text-transform: uppercase;
  font-weight: 800;
}
#hero-slides #header #menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0 3vw;
}
#hero-slides #header #menu:before {
  font-size: 1.75vh;
  content: 'Play Demo';
  margin-right: 0.5em;
  text-transform: uppercase;
}
#hero-slides #header #menu #hamburger {
  display: inline-block;
}
#hero-slides #header #menu #hamburger .slice {
  background: white;
  height: 0.2vh;
  width: 1vw;
}
#hero-slides #header #menu #hamburger .slice:not(:last-child) {
  margin-bottom: 0.5vh;
}
#hero-slides #slides-cont {
  position: relative;
  --button-height: 6vh;
  --button-spacing: 0.2vh;
}
#hero-slides #slides-cont .button {
  width: 5vw;
  height: var(--button-height);
  background: #0d96f2;
  position: absolute;
  right: 5.375vw;
  top: 38vh;
  z-index: 100;
  cursor: pointer;
}
#hero-slides #slides-cont .button:before, #hero-slides #slides-cont .button:after {
  line-height: var(--button-height);
  position: absolute;
  margin-left: -0.25vw;
  pointer-events: none;
  -webkit-transform: scale(0.75, 1.5);
          transform: scale(0.75, 1.5);
  transition: 125ms ease-in-out;
}
#hero-slides #slides-cont .button:before {
  left: 50%;
}
#hero-slides #slides-cont .button:after {
  opacity: 0;
}
#hero-slides #slides-cont .button:hover:before, #hero-slides #slides-cont .button:hover:after {
  transition: 250ms ease-in-out;
}
#hero-slides #slides-cont .button:hover:before {
  opacity: 0;
}
#hero-slides #slides-cont .button:hover:after {
  left: 50% !important;
  opacity: 1;
}
#hero-slides #slides-cont #next {
  margin-top: calc(-1 * (var(--button-height) + var(--button-spacing)));
}
#hero-slides #slides-cont #next:before, #hero-slides #slides-cont #next:after {
  content: '>';
}
#hero-slides #slides-cont #next:after {
  left: 30%;
}
#hero-slides #slides-cont #next:hover:before {
  left: 70%;
}
#hero-slides #slides-cont #prev {
  margin-top: var(--button-spacing);
  opacity: calc(var(--page) + 0.5);
  transition: 500ms opacity;
}
#hero-slides #slides-cont #prev:before, #hero-slides #slides-cont #prev:after {
  content: '<';
}
#hero-slides #slides-cont #prev:after {
  left: 70%;
}
#hero-slides #slides-cont #prev:hover:before {
  left: 30%;
}
#hero-slides #slides-cont #next-catch,
#hero-slides #slides-cont #prev-catch {
  width: 10vw;
  height: 76vh;
  position: absolute;
  top: 0;
  z-index: 90;
}
#hero-slides #slides-cont #next-catch {
  right: 0;
}
#hero-slides #slides-cont #prev-catch {
  left: 0;
}
#hero-slides #slides {
  --slides-height: 55vh;
  width: auto;
  height: var(--slides-height);
  padding: 0 10vw;
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: translate3D(calc(var(--page) * -80vw), 0, 0);
          transform: translate3D(calc(var(--page) * -80vw), 0, 0);
  transition: 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1), 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
}
#hero-slides #slides .slide {
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 1.5vw;
  width: 24em;
  height: var(--slides-height);
  margin: 0 1.333em;
  background: #101419;
  color: white;
  background-size: cover;
  background-position: center;
  white-space: normal;
  word-break: break-word;
  position: relative;
}
#hero-slides #slides .slide:before {
  content: '';
  display: block;
  background: linear-gradient(180deg, rgba(86, 97, 108, 0) 0%, rgba(33, 52, 69, 0.7) 100%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#hero-slides #slides .slide .number {
  position: absolute;
  top: 2em;
  left: 2em;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
}
#hero-slides #slides .slide .number, #hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  vertical-align: middle;
}
#hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  display: inline-block;
  content: '';
  height: 0.133em;
  margin-top: -0.2em;
  background: white;
}
#hero-slides #slides .slide .number:before {
  width: 0;
  margin-left: 0;
}
#hero-slides #slides .slide .number:after {
  width: 3em;
  margin-left: 1em;
}
#hero-slides #slides .slide .body {
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
}
#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline {
  position: relative;
  bottom: 0;
  cursor: default;
}
#hero-slides #slides .slide:before,
#hero-slides #slides .slide .number:before,
#hero-slides #slides .slide .number:after,
#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline,
#hero-slides #slides .slide .link {
  transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
}
#hero-slides #slides .slide .location {
  font-weight: 100;
  margin-bottom: 1.5em;
  transition-delay: 60ms;
}
#hero-slides #slides .slide .headline {
  font-size: 1.5em;
  font-weight: 900;
  transition-delay: 50ms;
}
#hero-slides #slides .slide .link {
  display: inline-block;
  background: #0d96f2;
  padding: 0.5em 1.25em;
  font-size: 1.33em;
  opacity: 0;
  position: absolute;
  bottom: -2em;
  pointer-events: none;
  transition-delay: 25ms;
}
#hero-slides #slides .slide.hover:before, #hero-slides #slides .slide:hover:before {
  opacity: 1;
}
#hero-slides #slides .slide.hover:before,
#hero-slides #slides .slide.hover .number:before,
#hero-slides #slides .slide.hover .number:after,
#hero-slides #slides .slide.hover .location,
#hero-slides #slides .slide.hover .headline,
#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover:before,
#hero-slides #slides .slide:hover .number:before,
#hero-slides #slides .slide:hover .number:after,
#hero-slides #slides .slide:hover .location,
#hero-slides #slides .slide:hover .headline,
#hero-slides #slides .slide:hover .link {
  transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
}
#hero-slides #slides .slide.hover .number:before, #hero-slides #slides .slide:hover .number:before {
  width: 3em;
  margin-right: 1em;
}
#hero-slides #slides .slide.hover .number:after, #hero-slides #slides .slide:hover .number:after {
  width: 0;
  margin-right: 0;
}
#hero-slides #slides .slide.hover .location, #hero-slides #slides .slide:hover .location {
  transition-delay: 0;
  bottom: 4em;
}
#hero-slides #slides .slide.hover .headline, #hero-slides #slides .slide:hover .headline {
  transition-delay: 100ms;
  bottom: 1.5em;
}
#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover .link {
  bottom: 0;
  opacity: 1;
  transition-delay: 250ms;
  pointer-events: auto;
}
#hero-slides #footer {
  height: 12vh;
  font-size: 1vh;
}
#hero-slides #footer #dribbble {
  border-radius: 2vh;
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  transition: 300ms cubic-bezier(0.7, 0, 0.3, 1);
  padding-left: 1.5vh;
}
#hero-slides #footer #dribbble:before, #hero-slides #footer #dribbble:after {
  vertical-align: middle;
  transition: inherit;
}
#hero-slides #footer #dribbble:before {
  display: inline;
  content: 'View original Dribbble';
  font-size: 2vh;
  opacity: 0;
  -webkit-transform: translate3D(-200px, 0, 0);
          transform: translate3D(-200px, 0, 0);
}
#hero-slides #footer #dribbble:after {
  content: '';
  display: inline-block;
  width: 4vh;
  height: 4vh;
  margin-left: 1vh;
  background-image: url(https://alca.tv/static/u/82fde61b-28ef-4f17-976e-8f1abb5a1165.png);
  background-size: contain;
  background-position: center;
}
#hero-slides #footer #dribbble.hover, #hero-slides #footer #dribbble:hover {
  background: #e94e89;
}
#hero-slides #footer #dribbble.hover:before, #hero-slides #footer #dribbble:hover:before {
  opacity: 1;
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  transition-delay: 50ms;
}
#hero-slides #footer #dribbble.hover:after, #hero-slides #footer #dribbble:hover:after {
  -webkit-filter: saturate(0%) contrast(200%) brightness(200%) invert(100%);
          filter: saturate(0%) contrast(200%) brightness(200%) invert(100%);
}

@media (min-width: 1200px) and (max-width: 1699px) {
  body {
    --slides-per-page: 3;
  }

  #hero-slides #slides .slide {
    font-size: 1vw;
  }
}
@media (min-width: 1700px) {
  body {
    --slide-per-age: 4;
  }

  #hero-slides #slides .slide {
    font-size: 0.75vw;
  }
}

.headline{
	padding-bottom: 25px;
}

